<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1 class="pt-5">Edit Customer</h1>
    </div>
    <form [formGroup]="customerForm" style="text-align: center">
      <table style="display: inline-grid;">
        <tbody>
        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Name <i>&nbsp;*</i></span>
              <input type="text" class="form-control" formControlName="name"><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="customerForm.controls.name.hasError('required') && customerForm.controls.name.touched">Name Can't Be Blank</p>
            <p *ngIf="customerForm.controls.name.hasError('pattern') && customerForm.controls.name.touched">Name Incorrect Format</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Date Of Birth <i>&nbsp;*</i></span>
              <input type="date" class="form-control" formControlName="dateOfBirth"><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="customerForm.controls.dateOfBirth.hasError('required') && customerForm.controls.dateOfBirth.touched">Date Of Birth Can't Be Blank</p>
            <p *ngIf="customerForm.controls.dateOfBirth.hasError('checkAge') && customerForm.controls.dateOfBirth.touched">Date Of Birth Incorrect Format</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Gender <i>&nbsp;*</i></span>
              <label style="width: 100%">
                <select class="form-select" formControlName="gender">
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other Gender</option>
                </select>
              </label>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="customerForm.controls.gender.hasError('required') && customerForm.controls.gender.touched">Gender Can't Be Blank</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Id Card <i>&nbsp;*</i></span>
              <input type="text" class="form-control" formControlName="idCard"><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="customerForm.controls.idCard.hasError('required') && customerForm.controls.idCard.touched">Id Card Can't Be Blank</p>
            <p *ngIf="customerForm.controls.idCard.hasError('pattern') && customerForm.controls.idCard.touched">Id Card Incorrect Format</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Phone <i>&nbsp;*</i></span>
              <input type="text" class="form-control" formControlName="phone"><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="customerForm.controls.phone.hasError('required') && customerForm.controls.phone.touched">Phone Can't Be Blank</p>
            <p *ngIf="customerForm.controls.phone.hasError('pattern') && customerForm.controls.phone.touched">Phone Incorrect Format</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Email <i>&nbsp;*</i></span>
              <input type="text" class="form-control" formControlName="email"><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="customerForm.controls.email.hasError('required') && customerForm.controls.email.touched">Email Can't Be Blank</p>
            <p *ngIf="customerForm.controls.email.hasError('email') && customerForm.controls.email.touched">Email Incorrect Format</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Address <i>&nbsp;*</i></span>
              <input type="text" class="form-control" formControlName="address"><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="customerForm.controls.address.hasError('required') && customerForm.controls.address.touched">Address Can't Be Blank</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Customer Type <i>&nbsp;*</i></span>
              <label style="width: 100%">
                <select class="form-select" formControlName="customerType">
                  <option *ngFor="let item of customerTypes" [ngValue]="item.id">{{item.name}}</option>
                </select>
              </label>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="customerForm.controls.customerType.hasError('required') && customerForm.controls.customerType.touched">Customer Type Can't Be Blank</p>
          </td>
        </tr>

        <tr>
          <td style="padding: 20px">
            <div class="vstack" style="display: inline">
              <button style="border: none; background: none" class="m-5" [disabled]="!customerForm.valid" (click)="editCustomer(id)">Edit</button>
              <a class="m-5" routerLink="/">Cancel</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
