<nav class="navbar navbar-expand-lg bg-light">
  <div class="container" style="background-color:orangered;">
    <a class="navbar-brand" href="#">
      <img src="https://news.ycombinator.com/y18.gif" alt=""><strong>&nbsp; Hacker News</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://news.ycombinator.com/newest">new &nbsp; |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://news.ycombinator.com/front">part &nbsp; |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://news.ycombinator.com/newcomments">comment &nbsp; |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://news.ycombinator.com/ask">ask &nbsp; |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://news.ycombinator.com/show">show &nbsp; |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://news.ycombinator.com/jobs">job &nbsp; |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://news.ycombinator.com/submit">submit</a>
        </li>
      </ul>
    </div>
    <div class="nav-item" style="display: flex; justify-content: space-between">
      <a class="nav-link" href="https://news.ycombinator.com/submit">login </a>
    </div>
  </div>
</nav>
<hr class="container">
