<div class="container-xxl py-5">
  <div class="container" style="text-align: center">
    <div class=" row text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1>Create Contract</h1>
    </div>
    <form [formGroup]="contractForm" (ngSubmit)="submit()">
      <table style="display: inline-grid">
        <tbody>
        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Customer</span>
              <label style="width: 100%">
                <select class="form-select" formControlName="customer">
                  <option *ngFor="let item of customers" [ngValue]="item">{{item.name}}</option>
                </select>
              </label>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Facility</span>
              <label style="width: 100%">
                <select class="form-select" formControlName="facility">
                  <option *ngFor="let item of facilities" [ngValue]="item">{{item.name}}</option>
                </select>
              </label>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Start Date</span>
              <input type="date" class="form-control" formControlName="startDate">
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">End Date</span>
              <input type="date" class="form-control" formControlName="endDate">
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Deposit</span>
              <input type="text" class="form-control" formControlName="deposit">
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="contractForm.controls.deposit.hasError('pattern') && contractForm.controls.deposit.touched">Deposit Must > 0</p>
          </td>
        </tr>

        <tr>
          <td style="padding: 20px">
            <div class="vstack" style="display: inline">
              <button style="border: none; background: none" class="m-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-plus-circle text-success" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
              </button>
              <a class="m-5" routerLink="/customer/list">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-x text-danger"
                     viewBox="0 0 16 16">
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
