<div class="container">
  <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
    <h1 class="pt-5">Customer List</h1>
  </div>
  <div style="text-align: center">
    <a href="../customer/create" class="btn btn-primary mb-3">Create</a>
  </div>
  <div>
    <table class="table table-striped table-hover">
      <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Date Of Birth</th>
        <th>Gender</th>
        <th>Id Card</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Customer Type</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let customer of customers">
        <td>{{customer.id + 1}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.dateOfBirth}}</td>
        <td>{{customer.gender}}</td>
        <td>{{customer.idCard}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.customerType}}</td>
        <td><a class="btn btn-outline-primary" href="../customer/edit">Edit</a></td>
        <td>
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                  data-bs-target="#exampleModal" onclick="infoDelete(this.value)">Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- Modal Delete -->
<form method="get">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog"
         style="position: absolute;float: left;left: 50%;top: 50%; transform: translate(-50%, -75%); width: 500px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are You Sure ?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label><input type="text" hidden id="idDelete" name="id"></label>
          <span>Delete</span>
          <span id="nameDelete"></span>
        </div>
        <div class="modal-footer">
          <a href="../customer/list" class="btn btn-primary" data-bs-dismiss="modal">Cancel</a>
          <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  function infoDelete(name) {
    let str = name.split(",")
    document.getElementById("idDelete").value = str[0];
    document.getElementById("nameDelete").innerText = str[1];
  }
</script>
