<div class="container">
  <h1>Simple Calculator</h1>
  <table class="table">
    <tr>
      <td class="w-50">First Operand:</td>
      <td><input class="form-control w-50" type="text" required
                 [(ngModel)]="calculator.firstOperand" #elementFirst/></td>
    </tr>

    <tr>
      <td class="w-50">Operator:</td>
      <td>
        <select class="form-control w-50" [(ngModel)]="calculator.operator" #elementOperator>
          <option value="+">Addition (+)</option>
          <option value="-">Subtraction (-)</option>
          <option value="*">Multiplication (*)</option>
          <option value="/">Division (/)</option>
        </select>
      </td>
    </tr>

    <tr>
      <td class="w-50">Second Operand:</td>
      <td><input class="form-control w-50" type="text" required
                 [(ngModel)]="calculator.secondOperand" #elementSecond/></td>
    </tr>
  </table>
  <h3>Result: {{calculate(elementFirst.value, elementSecond.value, elementOperator.value)}}</h3>
</div>
